<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
				PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.huhuiyu.template.maven.springboot2.dao.TbDeptMapper">
	<select id="queryAll" parameterType="TbDept">
		select * from tb_dept
		<where>
			<if test="deptName != null and deptName.trim() != ''.toString()">
				and dept_name like #{deptName}
			</if>
		</where>
	</select>

	<resultMap id="deptAndEmployeeMap" type="DeptAndEmployeeList">
		<collection property="employees" javaType="java.util.ArrayList" ofType="DeptAndEmployeeList"
								select="top.huhuiyu.template.maven.springboot2.dao.TbEmployeeMapper.queryEmployeeByDeptId"
								column="{deptId=dept_Id}"/>
	</resultMap>

	<select id="queryDeptAndEmployeeList" parameterType="TbDept" resultMap="deptAndEmployeeMap">
		select * from tb_dept
		where dept_id = #{deptId}
	</select>

</mapper>